<nav>
 <a href="/Agenda/">Messages</a> |
 <a href="/Notifications/">Phonebook</a> |
 <a href="/Location/">Mobile Devices</a> |
 <a href="/Settings/">Settings</a>
 <a href="/Profile/">Profile</a>
</nav>
